@page "/identify"

@using System.IO
@using System.Linq
@using System.Collections.Generic
@using BlazorClient.Data
@using BlazorInputFile
@inject ImageClassificationService ClassificationService

<div class="container">
  <h1>Identify image</h1>

  <p>
    This component alllows sending an image to run the image recognition model.
    Select an image to start the upload and recognition process.
  </p>
  <form>
    @*
    Uses the BlazorFileInput component: http://blog.stevensanderson.com/2019/09/13/blazor-inputfile/
    Note how the "accept" attribute gets passed to the rendered input HTML element even when not declared explicitly as a parameter by the InputFile component
    See: https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#attribute-splatting-and-arbitrary-parameters
    *@
    <InputFile OnChange="OnImageFileSelected" accept="image/*"/>
  </form>

  <div class="row my-4">
    @foreach (var file in selectedFiles)
    {
      <div class="col-4">
        <IdentifyImage @key="file.Name" File="file" OnClear="OnClear" />
      </div>
    }
  </div>
</div>


@code {
    List<IFileListEntry> selectedFiles = new List<IFileListEntry>();

    void OnImageFileSelected(IFileListEntry[] files)
    {
        selectedFiles.AddRange(files);
    }

    void OnClear(IFileListEntry file)
    {
        // System.Diagnostics.Trace.WriteLine(file.Name);
        selectedFiles.Remove(file);
        // selectedFiles = selectedFiles.Where(f => f != file).ToList();
        // selectedFiles = selectedFiles.Where(f => f.Name != selectedFiles.)
    }
}